@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #2a05f8; */
    padding: 0px 10px;
    background-color:  #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
.container{   
    width: 870px;
    margin: 0 auto;

}
#top-player-top-blog{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin-bottom:21px;
}
.top-players{
    border-radius: 5px;
    padding: 10px;
    margin-bottom:21px;
}
.section-title{
    font-family: 'Poppins';
    margin-top: 3px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
    color: #562EFF;
    ;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);   
    grid-gap:30px 10px;
    
}
.player{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid rgb(213, 208, 208); */
    padding: 10px;
    
    /* justify-content: space-evenly; */
}

.player .Names{
    margin: 0px 0px 0px 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.top-players .player img{
    width: 56px;
    height: 56px;
}
hr{
   
    border: 1px solid #D1D1D1;
    border-bottom: 0px;
    margin: 30px 0px;
}

/*...................
top-blog styles
.................*/

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px 40px;
}
.blogs .blog{
    display: flex;
    /* border: 1px solid rgb(201, 193, 193); */
    padding: 10px;
    
}
.blogs .blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blogs .blog-info{
    margin-left: 16px;
}
.blogs .blog-info .blog-title{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
}
.blogs .blog-info .blog-author{
    color: #9F9F9F;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
}
.blogs .blog-info .blog-author a{
    color: #562EFF;
  
    text-decoration: none;
}

/*.................
  .................
LATEST-COURSES-STYLE START HERE
...................
...................*/

#latest-course{
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.course{
    /* border: 1px solid; */
    padding: 20px 5px;
    box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000000D;
    border: 1px solid rgb(248, 248, 248);

}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px 10px;
   
}

#latest-course .courses .course .course-banner img{
    width: 250px;
    height: 141px;
}
.course-details{
    margin-top: 20px;
}
.course-details h3{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.course-details .course-author{
    margin: 8px 0px 15px 0px;
    color: #ED6B4F;
    font-size: 15px;
}
.course-info .star{
    color: yellow;
}


.rating-number{
    margin-left: 11px;
    margin-right:20px;
    font-size: 15px;
    color: #A2A2A2;
}
.course-time-icon{
    Width:94.83px;
    Height:29.38px;
    background: #FFE4E8;
    border-radius: 14.6913px;
    padding: 5px 10px;
}

.course-time-icon .fa-clock{
    margin: 0px 2px;
    color: #FF4A60;
   
}
.course-time-icon .course-time-hr{
    color: #FF4A60;
    font-size: 15px;
    font-weight:400;
    font-family: 'roboto';
}
@media (max-width:991px){
    body{
        padding: 0px 10px;
        background-color: purple;
    }
    .container{
        width: 100%;

    }

    .courses{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
        
       
    }

    #latest-course .courses .course .course-banner img{
        width: 100%;
        
    }

    
}

@media (max-width:768px){
    body{
        padding: 0px 10px;
        background-color:rgb(47, 255, 0);
    }
    .container{
        width: 100%;

    }
    .players{
        
        grid-template-columns: repeat(1,1fr);   
        grid-gap:20px 0px;
        
        
    }
    .player{
      
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
       
        padding: 10px 0px;
              
    }

    /* TOP-BLOGS-START-HERE */
    .blogs{
       
        grid-template-columns: repeat(1,1fr);
        grid-gap:20px;
    }

    .blogs .blog{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 15px;
    }

    .courses{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
        
       
    }
    .course{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
}

@media (max-width:575px) {
    body{
        padding: 0px 10px 0px 10px;
        background-color:yellow;
    }
    .container{
        width: 100%;
           
        
    }
}