@media (max-width:991px){
    body{
        padding: 0px 10px;
        /* background-color: purple; */
    }
    .container{
        width: 100%;

    }

    .courses{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
        
       
    }

    #latest-course .courses .course .course-banner img{
        width: 100%;
        
    }

    
}

@media (max-width:768px){
    body{
        padding: 0px 10px;
        /* background-color:rgb(242, 255, 0); */
    }
    .container{
        width: 100%;

    }
    .players{
        
        grid-template-columns: repeat(1,1fr);   
        grid-gap:20px 0px;
        
        
    }
    .player{
      
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
       
        padding: 10px 0px;
              
    }

    /* TOP-BLOGS-START-HERE */
    .blogs{
       
        grid-template-columns: repeat(1,1fr);
        grid-gap:20px;
    }

    .blogs .blog{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 15px;
    }

    /* latest courses start here */
    .courses{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;      
    }
    .course{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
}

@media (max-width:575px) {
    body{
        padding: 0px 10px 0px 10px;
        /* background-color:rgb(8, 0, 255); */
    }
    .container{
        width: 100%;
           
        
    }
}