@media (max-width:575px){
    body{
        /* padding: 0px 10px 0px 10px; */
        /* background-color:rgb(8, 0, 255); */
    }
    .container{
        width: 100%;     
        
    }
    header{
        height:508px;
        
    }
    nav{
        position: static;
        padding:0px;
    }
    nav .logo{
        width: 100%;
        background-color: rgba(93, 163, 250,0.5);
        
        padding: 20px;
       display: flex;
       justify-content: center;
    }
    /* navigation logo && nav item start here*/
    nav .nav{
        flex-direction: column;
    }

    nav .nav .nav-item{
        flex-direction: column-reverse;
        width: 100%;
        padding: 15px;
    }
    nav .nav .nav-item .profile-text{
        margin: 30px 0px;
    }
    nav .nav .nav-item .profile-text-title-des{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    nav .nav .nav-item .border-bottom{
        margin-bottom: 20px;
        background-color: rgba(93, 163, 250,0.5);
        display:inline-block;
        width: 100%;
        text-align: center;
        padding: 12px 8px;
        border-radius:5px;
    }
    nav .nav .nav-item .border-bottom:hover{
        border: none;
     }/* navigation logo && nav item end here*/
    .players{
        
        grid-template-columns: repeat(1,1fr);   
        grid-gap:20px 0px;     
    }
    #latest-course .courses .course .course-banner img{
      
        
    }
    .blogs {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px 40px;
    }
    .blogs .blog {
        display: flex;
        flex-direction: column;
    }
    .blogs .blog-info{
        /* margin-left: 16px; */
        margin: 20px 0px 20px 16px;
        
    }
    .blogs .blog-info .blog-title {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 30px;
        margin: 5px;
    }
    .blogs .blog .thumbnail img{
        width: 100%;
        height: 100%;
        display: block;
        /* margin-bottom:; */
    }
    .courses {
       
        grid-template-columns: repeat(1,1fr);
        grid-gap:15px; 
           
        
    }
    .course{
       
        box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000000d;
        border: 1px solid rgba(123, 123, 123,0.4);
        border-radius: 29px 29px 0px 0px;   
        
    }
    #latest-course .courses .course .course-banner img{
        width: 100%;
        height: 100%;
        
    }
    #latest-course .courses .course .course-details{
        /* width: 100%;
        text-align: center; */
        text-align: left;
        margin-left: 10px;
        padding: 10px;
        
    }

    .player {
        
        
       flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid rgb(213, 208, 208);
        padding: 20px;
       
    }
    .player .Names{
        margin: 15px 0px;
    }
    #footer-container .footer-menu-item{
        flex-direction: column;
         justify-content: center;
         align-items: center;
         
      }
      #footer-container .footer-menu-item a{
        
         margin:10px 0px;
      }
}

@media (min-width:576px) and (max-width:688px){
    body{
        /* padding: 0px 10px 0px 10px; */
        /* background-color:rgb(8, 0, 255); */
    }
    nav{
        width: 100%;
        padding: 0px;
    }
    main{
        
    }
    .container{
        width: 100%;     
        
    }
    header{
        height: 512px;
        
    }
    nav .logo{
        width: 100%;
        background-color: rgba(93, 163, 250,0.5);
        
       padding: 20px;
       display: flex;
       justify-content: center;
    }
    nav{
        position: static;
    }
    .logo{
       
    }
    /* navigation logo && nav item start here*/
    nav .nav{
        flex-direction: column;
    }

    nav .nav .nav-item{
        flex-direction: column-reverse;
        width: 100%;
        padding: 15px;
    }
    nav .nav .nav-item .profile-text{
        margin: 30px 0px;
    }
    nav .nav .nav-item .profile-text-title-des{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    nav .nav .nav-item .border-bottom{
        margin-bottom: 20px;
        background-color: rgba(93, 163, 250,0.5);
        display:inline-block;
        width: 100%;
        text-align: center;
        padding: 12px 8px;
        border-radius:5px;
    }/* navigation logo && nav item end here*/
    nav .nav .nav-item .border-bottom:hover{
       border: none;
    }/* navigation logo && nav item end here*/
    .players{
        
        grid-template-columns: repeat(1,1fr);   
        grid-gap:20px 0px;
        
        
    }
    .player{
      
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #1B98F5;
        padding: 20px 20px;
              
    }
    .player .Names{
        margin: 15px 0px;
    }

    /* TOP-BLOGS-START-HERE */
    .blogs{
       
        grid-template-columns: repeat(1,1fr);
        grid-gap:20px;
    }

    .blogs .blog{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 15px;
    }
    .blogs .blog-info{
        /* margin-left: 16px; */
        margin: 20px 0px 20px 16px;
        
    }
    .blogs .blog-info .blog-title{
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 30px;
        margin-left: 5px;
       
    }
    .blogs .blog .thumbnail img{
        width: 100%;
        height: 100%;
        display: block;
        /* margin-bottom:; */
    }
    /* latest courses start here */
    .courses{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;      
    }
    .course{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        /* border: 1px solid rgba(123, 123, 123,0.4); */
        border-radius: 31px 31px 0px 0px;
        border: 1px solid rgb(248, 248, 248);
    }
    #latest-course .courses .course .course-banner img{
        width: 100%;
        height: 100%;
        
    }
    #latest-course .courses .course .course-details{
        /* width: 100%;
        text-align: center; */
        text-align: left;
        margin-left: 10px;
        padding: 10px;
        
    }
    #footer-container .footer-menu-item{
        display: flex;
        flex-direction: column-reverse;
         justify-content: center;
         align-items: center;
         
      }
      #footer-container .footer-menu-item a{
        
         margin:10px 0px;
      }

    
} 




@media(min-width:689px) and (max-width:992px){

body{
    /* padding: 0px 10px; */
    /* background-color: purple; */
}
main{
    padding: 0px 10px;
}
.container{
    width: 100%;

}

.courses{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    
   
}
#latest-course .courses .course .course-details{
    /* width: 100%;
    text-align: center; */
    text-align: left;
    margin-left: 10px;
    padding: 10px;
    
}

#latest-course .courses .course .course-banner img{
    width: 100%;
    
}
.player .Names{
    margin: 15px 0px;
}

#footer-container .footer-menu-item{
   flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }
 #footer-container .footer-menu-item a{
   
    margin:10px 0px;
 }
}