@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/* a,span,i{
    display: inline-block;
} */
body{
    /* background-color: #2a05f8; */
    
    background-color:  #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

.container{   
    /* width: 65%; */
    width: 72%;
    margin: 0 auto;
    

}
header{
    height: 90px;
}
#navigation{
    height: 90px;
}

nav{
    background-color:#2827CC ;
    /* background-color:#562EFF ; */
    /* background-color: grey; */
    color: white;
    padding: 15px 15px;
    position:fixed;
    top: 0px;
    width: 100%;
   

    /* top: 0px; */
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo img{
    width: 40.42px;
    height:60px;
    display: block;
    margin: 0px 5px;
}
nav .logo span i{
    
    height:51px;
    font-size:40.42px;
    margin: 0px 10px 0px 0px;
    display: inline-block;
    margin-left: 0px;
    display: none;
}
.logo-text{
    margin-left: 10px;
    font-size: 30px;
}

nav .nav .nav-item{
    display: flex; 
    align-items: center;
}  
nav .nav .nav-item .profile-text-title-des{
    display: none;
   
}
nav .nav .nav-item a{
    display: inline-block; 
    margin: 0px 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition-property: boder-bottom;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 0.5;
    
   
}

nav .nav .nav-item .border-bottom:hover{
    border-bottom:2px solid white;
}

#top-player-top-blog{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin-bottom:21px;
    
}
.top-players{
    border-radius: 5px;
    padding: 10px;
    margin-bottom:21px;
}
.section-title{
    font-family: 'Poppins';
    margin-top: 3px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
    color: #562EFF;
    ;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);   
    grid-gap:30px 10px;
    
}
.player{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid rgb(213, 208, 208); */
    padding: 10px;
    
    
    /* justify-content: space-evenly; */
}

.player .Names{
    margin: 0px 0px 0px 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.top-players .player img{
    width: 56px;
    height: 56px;
}
hr{
   
    border: 1px solid #D1D1D1;
    border-bottom: 0px;
    margin: 30px auto;
    width: 80%;
}

/*...................
top-blog styles
.................*/

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px 40px;
}
.blogs .blog{
    display: flex;
    /* border: 1px solid rgb(201, 193, 193); */
    padding: 10px;
    box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000000D;
    border: 1px solid rgb(248, 248, 248);
    
    
}
.blogs .blog .thumbnail img{
   
    width: 117px;
    height: 117px;
}
.blogs .blog-info{
    margin-left: 16px;
    /* margin: 20px 0px 20px 16px; */
    
}
.blogs .blog-info .blog-title{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    margin: 5px;
}
.blogs .blog-info .blog-author{
    color: #9F9F9F;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    margin-left: 5px;
    
}
.blogs .blog-info .blog-author a{
    color: #562EFF; 
    text-decoration: none;
}

/*.................
  .................
LATEST-COURSES-STYLE START HERE
...................
...................*/

#latest-course{
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.course{
    /* border: 1px solid; */
    padding: 0px 0px 20px 0px;
    box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000000D;
    border: 1px solid rgb(248, 248, 248);
    
    border-radius: 29px 29px 0px 0px;

}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px 10px;
   
}

#latest-course .courses .course .course-banner img{
    width:100%;
    height: 141px;
}
.course-details{
    margin-top: 20px;
    text-align: left;
    margin-left: 10px;
    padding: 10px;
}
.course-details h3{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.course-details .course-author{
    margin: 8px 0px 15px 0px;
    color: #ED6B4F;
    font-size: 15px;
}
.course-info .star{
    color: rgb(243, 243, 8);
    font-size: 13px;
    font-weight: bold;
}


.rating-number{
    margin-left: 3px;
    margin-right:3px;
    font-size: 12px;
    color: #A2A2A2;
}
.course-time-icon{
    Width:94.83px;
    Height:29.38px;
    background: #FFE4E8;
    border-radius: 14.6913px;
    padding: 2px 6px;
    height: 60px;
}

.course-time-icon .fa-clock{
    margin: 0px 2px;
    color: #FF4A60;
    font-size: 10px;
   
}
.course-time-icon .course-time-hr{
    color: #FF4A60;
    font-size: 10px;
    font-weight:400;
    font-family: 'roboto';
}
footer{
    /* background-color: rgba(93, 163, 250,0.5); */
    background-color:#2d2dd2da ;
    width: 100%;
}
#footer-container{
    padding: 20px 0px;
}
#footer-container h3{
    margin: 15px 0px;
    text-align: center;
    color:white;
    font-size: 30px;
    font-weight: 700;
}
/* hr{
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgba(40, 39, 204,0.5);
    border-bottom: none;
} */
#footer-container .footer-menu-item{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0px 20px 0px;
}
#footer-container .footer-menu-item a{
   text-decoration: none;
   color: white;
   margin:0px 8px;
}